@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  html-hide::-webkit-scrollbar {
    display: none;
  }
    
  html::-webkit-scrollbar-track {
    background: #131313;
  }
    
  html::-webkit-scrollbar-thumb {
    background: rgb(248 113 113);
  }
  .scroller::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .scroller-hide::-webkit-scrollbar {
    display: none;
  }
    
  .scroller::-webkit-scrollbar-track {
    background: #131313;
  }
    
  .scroller::-webkit-scrollbar-thumb {
    background: rgb(248 113 113);
  }